# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/
data/external_validation/

# Models
models/
scalers/
artifacts/
catboost_info/

# Reports
reports/figures/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
